<%= render 'event', event: @event, attendees: @attendees %>

<ul>
<% @attendees.each do |attendee| %>
  <%= render 'attendee', attendee: attendee %>
<% end %>
</ul>

<% if @logged_in %>
  <% if @is_attending %>
    <p>You are attending</p>
  <% else %>
    <%= link_to "ATTEND", attend_path(@event.id, @user.id) %>
  <% end %>
  <% if @users.any? %>
    <h2>Invite Users:</h2>
    <% @users.each do |user| %>
      <%= link_to user.name, invite_path(@event.id, user.id) %>
    <% end %>
  <% else %>
    <p>No users to invite</p>
  <% end %>
<% end %>